.bd{
    margin-left: 1.5vw;
}

table{
    width: 80%;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}

form{
    margin: 15px;
}

.form-row{
    width: 80%;
}

.erros{
    font-style: oblique;
    color: red;
}
